<div>
    <form #departamentoForm="ngForm">
        <label for="">Numero:</label>
        <input type="text"
        name="cajanumero"
        #cajanumero
        > <br/>
        <label for="">Nombre:</label>
        <input type="text"
        name="cajanombre"
        #cajanombre
        > <br/>
        <label for="">Localidad: </label>
        <input type="text"
        name="cajalocalidad"
        #cajalocalidad
        >
        <br/>
        <button class="btn btn-info" 
        (click)="insertarDepartamento()">
            Insertar
        </button>
    </form>
</div>
