<div *ngIf="!apuestas">
    <h1>Cargando...</h1>
</div>
<div *ngIf="apuestas">
    <a class="btn btn-danger" 
    [routerLink]="['/insertarapuesta']"
    >Realizar apuesta</a>
    <div *ngFor="let equipo of equipos">
        <h3 style="color:red" *ngIf="equipo.idEquipo==3">
            Local: {{equipo.nombre}} 
        </h3>
        <h3 style="color:red" *ngIf="equipo.idEquipo==4">
            Visitante: {{equipo.nombre}} 
        </h3>
    </div>
    
    <table class="table">
        <thead>
            <th>Usuario</th>
            <th>Resultado</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let apuesta of apuestas">
                <td> {{apuesta.usuario}} </td>
                <td> {{apuesta.resultado}} </td>
                <td> {{apuesta.fecha}} </td>
                <td> <a class="btn btn-danger"
                    [routerLink]="['/eliminarapuesta', apuesta.idApuesta]"
                    >
                    Eliminar
                </a> </td>
            </tr>
        </tbody>
    </table>
</div>
